<h2 class="titleProject"> Giftcard </h2>
	<div   *ngIf="giftcards.length == 0">
				<img class="loading" src="https://i.pinimg.com/originals/7e/2a/eb/7e2aeb1567e91bfc2404cecca6aceecd.gif">
		
	</div>


<div  class="container">
	<table class= " table " >


		<tr  valign="top" *ngFor="let giftcard of giftcards" class="rialGiftcard">
			<a id="tGc" class="links" [routerLink]="['/giftcard',giftcard._id]">
					

			   			 <img src="https://res.cloudinary.com/dzyvb836r/image/upload/v1644816267/brand_gp5nbj.png" class="imageGc"/><br><!--con 
			    	el ngiF , significal que la uliza si esta listada--->


<table class="table  bg-transparent ">
  
  <tbody>

		<tr>
      <td><span id="highL"> Valor:</span></td>
      <td><span id="tGc">{{giftcard.amount}}</span></td>
   	</tr>


    <tr>
      <td><span id="highL"> Cliente:</span></td>
      <td><span id="tGc">{{giftcard.client}}</span></td>
   	</tr>

	<tr>
     <td> <span id="highL">Id de pago: </span> </td>
     <td> <span id="tGc">{{giftcard.payment_id}}</span></td>
    </tr>

<tr>    
      <td>	 <span id="highL">Fecha de compra: </span></td>
      <td><span id="tGc"> {{giftcard.issuedDate}}</span>	</td>
</tr>


<tr>    
      <td>	
     	<span id="highL">Consumida: </span></td>

      <td>	

      	<span id="tGc"> {{giftcard.consumedDate}}</span>	

      </td>
</tr>

    
  </tbody>
</table>










  








		 


					</a>
			</tr>

		</table>
		</div>
	






<!-- <div class="container">
	
	

	
		  	<div valign="top" *ngFor="let giftcard of giftcards" class="col-3" class="view overlay zoom" >
			
					<a  id="linkGc" class="links" [routerLink]="['/giftcard',giftcard._id]">
					
				
				<h4 id="tGc"><b>{{giftcard.amount}}</b></h4>
				<p id="tGc">Client:{{giftcard.client}}</p>
				<p id="tGc">Payment_ Id: {{giftcard.payment_id}}</p>
				<p id="tGc">Isued Dated{{giftcard.issuedDate}}</p>
				<p id="tGc">Fecha de compra{{giftcard.consumedDate}}</p>
     		   	</a>
			
     		   
		 	
	<div>
	-->