      <div class="container " *ngIf="giftcard">
              
              <div class="d-flex justify-content-center">
                  
                   <img src="" *ngIf=""/><!--con el ngiF , significal que la tuliza si esta listada--->
                    <div class="gC">

                      <table class="table">
                          <tr>
                              <td><span id="highL2"> Valor:</span></td>
                              <td><span id="tGc2">{{giftcard.amount}}</span></td>
                          </tr>
                         <tr>
                              <td><span id="highL2"> Status:</span></td>
                              <td><span id="tGc2">{{giftcard.status}}</span></td>
                          </tr>
                          <tr>
                              <td><span id="highL2"> Comprador:</span></td>
                              <td><span id="tGc2">{{giftcard.buyerName}}</span></td>
                          </tr>
                          <tr>
                              <td><span id="highL2"> Fecha de compra:</span></td>
                              <td><span id="tGc2">{{giftcard.issuedDate}}</span></td>
                          </tr>
                          <tr>
                              <td><span id="highL2"> Fecha consumida:</span></td>
                              <td><span id="tGc2">{{giftcard.consumedDate}}</span></td>
                          </tr>
                          <tr>
                              <td><span id="highL2"> Email comprador:</span></td>
                              <td><span id="tGc2">{{giftcard.buyerEmail}}</span></td>
                          </tr>
                          <tr>
                              <td><span id="highL2"> Metodo de pago:</span></td>
                              <td><span id="tGc2">{{giftcard.payment_type}}</span></td>
                          </tr>
                          <tr>
                              <td><span id="highL2"> Id de pago:</span></td>
                              <td><span id="tGc2">{{giftcard.payment_id}}</span></td>
                          </tr>   

                           <tr>
                              <td><span id="highL2"> Id orden de compra:</span></td>
                              <td><span id="tGc2">{{giftcard.merchant_order_id}}</span></td>
                          </tr>  

                           <tr>
                              <td><span id="highL2">Cliente :</span></td>
                              <td><span id="tGc2">{{giftcard.client}}</span></td>
                          </tr>  

                           <tr>
                              <td><span id="highL2"> Email cliente:</span></td>
                              <td><span id="tGc2">{{giftcard.emailClient}}</span></td>
                          </tr>  

                           <tr>
                              <td><span id="highL2"> DNI:</span></td>
                              <td><span id="tGc2">{{giftcard.dni}}</span></td>
                          </tr>  
                            <tr>
                              <td><span id="highL2"> Telefono:</span></td>
                              <td><span id="tGc2">{{giftcard.phoneClient}}</span></td>
                          </tr>  

                            <tr>
                              <td><span id="highL2"> Mongo-DB-Id:</span></td>
                              <td><span id="tGc2">{{"["+giftcard._id+"]"}}</span></td>
                          </tr>


                      </table>

                       
                        <div  class="d-flex justify-content-center" *ngIf="confirm==false">

                              <button id="btn1" class="btn btn-warning" [routerLink]="['/editar-giftcard',giftcard._id]">
                                Editar
                              </button>

                              <button id="btn1" class="btn btn-danger " (click)="setConfirm(true)" >
                                Borrar
                              </button>

                              <button id="btn1" class="btn btn-primary " [routerLink]="['/giftcards']" >
                                Volver
                              </button>
                        </div>

                        <div *ngIf="confirm==true">
                          
                            <span class="confirm">¿Estás seguro de eliminar la giftcard?</span>
                            <button class="btn btn-primary" ><a (click)="setConfirm(false)">Cancelar </a></button>
                            <button class="btn btn-primary"><a (click)="deleteGiftcard(giftcard._id)">Eliminar</a></button>

                        </div>  

                </div>

                    
              </div>
      </div>
