<div class="container" id="container">

	


<div class="card-group" id="groupCard">

	<div class="row row-cols-1 row-cols-md-3 g-4" style="text-align: center;">
  <div class="col " >
    <div class="card h-100 text-white bg-dark">
      <img src="https://res.cloudinary.com/dzyvb836r/image/upload/v1644898489/torito6_ji0jzh.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Couple Giftcard</h5>
        <p class="card-text">
           $ 5.000
        </p>
        <p class="card-text">Almuerzo o Cena + postre para 2 personas. Podés elegir entre el plato 1 o el plato 2 y  copa de vinos o cerveza  para c/u.</p>
          <a  (click)="checkout5000()"  routerLinkActive='actived' class="btn btn-secondary">Comprar!</a>	
      </div>
     
    </div>
  </div>
 
  <div class="col">
    <div class="card h-100  text-white bg-dark">
      <img src="https://res.cloudinary.com/dzyvb836r/image/upload/v1644898489/torito4_tsksjh.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Family Giftcard</h5>
             <p class="card-text">
           $ 10.000
        </p>
        <p class="card-text">Almuerzo o Cena + postre para 4 personas. Podés elegir entre el plato1 o el plato2 y  copa de vinos o cerveza  para c/u.</p>

          <a (click)="checkout10000()"   routerLinkActive='actived' class="btn btn-secondary">Comprar!</a>	
      </div>
     
    </div>
  </div>


  <div class="col">
    <div class="card h-100  text-white bg-dark">
      <img src="https://res.cloudinary.com/dzyvb836r/image/upload/v1644898489/torito2_bzqxl5.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Giftcard</h5>
           <p class="card-text">
           $ Monto personalizable
          </p>
        <p class="card-text">Seleccioná el valor de la tarjeta a gusto.</p>
          <a routerLink="/buy-giftcard"  routerLinkActive='actived' class="btn btn-secondary">Comprar!</a>	
      </div>
      
    </div>
  </div>


</div>




<!--http://localhost:4200/buy-giftcard?collection_id=21084120957&collection_status=approved&payment_id=21084120957&status=approved&external_reference=null&payment_type=credit_card&merchant_order_id=4398385063&preference_id=1061548667-907f4adb-ec40-4b95-af0f-8cae48a430b2&site_id=MLA&processing_mode=aggregator&merchant_account_id=null -->



</div>
