/* You can add global styles to this file, and also import other style files */

#banner{
background-color: black;

}

.bd-placeholder-img{

	object-fit: cover;
	object-position: bottom;

}


.locales{

  width: 18rem;
  text-align: center;
  color: white;
  margin-top:4%;
  margin-bottom: 4%;
  display: inline-block

}


.p-4{
  
  font-size: 30px;
  margin-top: 10%;

}