

<section class="main container" id="principal">
  


<div class="row" >
					
<div class="alert alert-warning" role="alert" *ngIf="entendido==false">


		<p>1. Saldremos a Mercado Pago y regresaremos una vez confirmado el pago automaticamente.  <strong>No interrumpas el proceso de compra</strong>.</p>
		
		<p>2. Ingresa los datos datos faltantes y confirma</p>

<button class="btn btn-warning" (click)="entendidoMet()">Ok</button>

			</div>

						

						  <div class="col-sm-6" style="text-align: center;">
		

						  	

						  	<form  class="Formulario" #giftcardForm="ngForm" (ngSubmit)= "checkout(giftcardForm)" id="formMP">	
											
												     <label >PASO 1</label><br><br>
													<label for ="buyerName">Comprador / Nombre</label><br>
													<input type="text" name="buyerName" #buyerName="ngModel"[(ngModel)]="giftcard.buyerName" required/> <br><!--[(ngModel)]="project.name" 2 ways data binding para modificar el atributo name del project-->
													<!-- el # indica que es la identificacion para Angular-->
													<span class="form_error"*ngIf="buyerName.touched && !buyerName.valid">El nombre es obligatorio</span><br>
													
										

													<label for ="amount">Monto en ARS</label><br>
													<input type="number" name="amount" #amount="ngModel"[(ngModel)]="giftcard.amount" required/><!-- --><br>
													<span class="form_error" *ngIf="amount.touched && amount.pristine">El monto es obligatorio.</span><br>



													<label for ="issuedDate">Fecha de compra</label><br>
													<input type="date" name="issuedDate" #issuedDate="ngModel"[(ngModel)]="giftcard.issuedDate" required/><br>
													<span class="form_error" *ngIf="issuedDate.touched && !issuedDate.valid">La fecha de compra es obligatoria.</span><br>


												
													
													<br>
													<input class="btn btn-primary" type="submit" value="Checkout!" [disabled]="!giftcardForm.form.valid"/> 
													<br>
													<br>
													<br>
												

											</form>


						  </div>

						  <div class="col-sm-6" style="text-align: center;">


						  	<form style="color:white" class="Formulario" #giftcardForm2="ngForm" (ngSubmit)= "confirmarPago(giftcardForm2);giftcardForm2.resetForm()" >	

    			 <label >PASO 2</label><br>
    			 <br>
				<label for ="buyerEmail">Email comprador</label><br>
				<input type="text" name="buyerEmail" #buyerEmail="ngModel"[(ngModel)]="giftcard.buyerEmail" required/><br>
				<span class="form_error" *ngIf="buyerEmail.touched && !buyerEmail.valid">El cliente / agasajado es obligatorio</span><br>
											
				<label for ="payment_id">Ticket</label><br>
				<input type="number" name="payment_id" #payment_id="ngModel"[(ngModel)]="giftcard.payment_id"/><br>
				<span class="form_error" *ngIf="payment_id.touched && !payment_id.valid">El pago es obligatorio.</span><br>


				<label for ="payment_type">Metodo de pago usado </label><br>
				<input type="text" name="payment_type" #payment_type="ngModel"[(ngModel)]="giftcard.payment_type" required/><br>
				<span class="form_error" *ngIf="payment_type.touched && !payment_type.valid">El método de pago es obligatorio.</span><br>

				<label for ="status">Status del pago</label><br>
				<label type="text" name="status" #status="ngModel"[(ngModel)]="giftcard.status"><br>{{giftcard.status}}</label>
				<br>
				<br>
				<span class="alert alert-success" role="alert" *ngIf="giftcard.status==='approved'">payment check!</span>
				<span class="alert alert-warning"  role="alert"  *ngIf="giftcard.status===''">  waiting payment!</span>

				<span class="alert alert-danger" role="alert"  *ngIf="giftcard.status==='denied'">  payment failed!</span>


				
				
				<br>
				<br>
				<br>
				<!--
				<label for ="consumedDate">consumedDate </label>
				<input type="text" name="consumedDate" #consumedDate="ngModel"[(ngModel)]="giftcard.consumedDate" required/><br>
				<span class="form_error" *ngIf="consumedDate.touched && !consumedDate.valid">Los lenguajes o tecnologías son necesarias.</span>-->
				<label for ="client">Nombre de cliente o agasajado</label><br>
				<input type="text" name="client" #client="ngModel"[(ngModel)]="giftcard.client" required/><br>
				<span class="form_error" *ngIf="client.touched && !client.valid">El cliente / agasajado es obligatorio</span><br>



				<label for ="emailClient">Email del Cliente o agasajado:</label><br>
				<input type="text" name="emailClient" #emailClient="ngModel"[(ngModel)]="giftcard.emailClient" required/><br>
				<span class="form_error" *ngIf="emailClient.touched && !emailClient.valid">El email del cliente / agasajado es obligatorio</span><br>


				


				<label for ="dni">Dni</label><br>
				<input type="number" name="dni" #dni="ngModel" [(ngModel)]="giftcard.dni" required min="1000000" /><br>
				<span class="form_error" *ngIf="dni.touched && !dni.valid">El dni del cliente / agasajado está incompleto o no es válido</span><br>
				
				<label for ="phoneClient"> Teléfono de contacto</label><br>
				<input type="number" name="phoneClient" #phoneClient="ngModel" [(ngModel)]="giftcard.phoneClient" required  min="1000000000"/><br>
				<span class="form_error" *ngIf="phoneClient.touched && !phoneClient.valid">El teléfono del cliente / agasajado está incompleto o no es válido</span><br>



				



			
			
<p>
	
	<br>
	<input class= "btn btn-success"type="submit" value="Confirmar!" [disabled]="!giftcardForm2.form.valid"/> <!--boton de envio -->
</p>

<div class="alert alert-success" role="alert" *ngIf="statuss =='success'">
		Se ha confirmado la compra! Se enviarán notificaciones con los detalles.</div>

<div class="invisible">
													
													<label for ="buyerName">Comprador / Nombre</label><br>
													<input type="text" name="buyerName" #buyerName="ngModel"[(ngModel)]="giftcard.buyerName" required/> <br><!--[(ngModel)]="project.name" 2 ways data binding para modificar el atributo name del project-->
													<!-- el # indica que es la identificacion para Angular-->
													<span class="form_error"*ngIf="buyerName.touched && !buyerName.valid">El nombre es obligatorio</span><br>
													
										

													<label for ="amount">Monto en ARS</label><br>
													<input type="number" name="amount" #amount="ngModel"[(ngModel)]="giftcard.amount" required/><!-- --><br>
													<span class="form_error" *ngIf="amount.touched && amount.pristine">El monto es obligatorio.</span><br>



													<label for ="issuedDate">Fecha de compra</label><br>
													<input type="date" name="issuedDate" #issuedDate="ngModel"[(ngModel)]="giftcard.issuedDate" required/><br>
													<span class="form_error" *ngIf="issuedDate.touched && !issuedDate.valid">La fecha de compra es obligatoria.</span><br>

</div>

												

											</form>
						   

						  </div>




			</div>
    </section>


